@import "tailwindcss";

@theme {
  --color-foreground-primary: hsla(0, 0%, 2%, 0.96);
  --color-foreground-secondary: hsla(0, 0%, 2%, 0.68);
  --color-foreground-tertiary: hsla(0, 0%, 2%, 0.46);
  --color-foreground-disabled: hsla(0, 0%, 2%, 0.28);
  --font-inter: "Inter", "sans-serif";
  --font-lexend: "Lexend", "sans-serif";
}

html {
  font-family: var(--font-inter);
}
